.p-five {
    h3 {
        @media (max-width: 540px) {
            margin-top: 18%;
        }
        margin-top: 10%;
        @media (min-width: 600px) {
            margin-top: 14%;
            margin-bottom: 5%;
        }
    }
    .p-box-question {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        .p-question {
            font-weight: bold;
            margin-right: 1%;
        }
    }
}