$github-color: #24292e;
$github-color-shadow-white: #24292ef3;
$google-color: #dd4b39;
$google-color-shadow-white: #dd4c39e0;
$black-modern: rgb(36, 35, 35);
$p-purple: #5c6bc0;
$p-purple-clean: #e8eaf6;
$p-purple-solarized: #5c6bc0ce;
$p-green: #69F0AE;
$p-green-clean: rgba(105, 240, 175, 0.815);