.p-choose-content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .divider {
    margin: 10% 0%;
    width: 90vh;
  }

  a {
    color: white;
  }
}
