.p-perfil {
  width: 60px;
  height: 60px;
}

.p-internal-header-project {
  margin-top: 2%;

  i {
    font-size: 3em;
  }
}

.p-internal-desc {
  margin: 0% 10%;
  border: 1px solid rgba(0, 0, 0, 0.4);
  padding: 2%;
  border-radius: 7px;
  box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.2);

  h5 {
    font-weight: bold;
  }
}

.p-return {
  margin-left: 3%;
  margin-right: 5%;
}

.skills {
  margin-left: 10%;

  i {
    font-size: 3em;
  }
}

.p-propostas-valor {
  margin: 3% 3%;
}

.p-footer-internal-project {
  margin-top: 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.p-nav {
  background-color: $p-purple;
}
.p-internal-feed {
  display: flex;
  justify-content: center;
  margin-top: 1%;
  .img-search {
    width: 150px;
    height: 200px;
  }
  .p-skills {
    margin-top: 1%;
    .p-skill {
      padding: 4px;
      border-radius: 6px;
      background-color: rgb(54, 62, 63);
      strong {
        font-weight: bold;
      }
    }
  }
}


.p-projects {
  background-color: rgba(99, 99, 99, 0.007);
  height: 100vh;
}

.p-indicator {
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  height: 9vh;
  display: flex;
  width: 100%;
  align-items: center;
  h4 {
    margin-bottom: 2%;
    margin-left: 2%;
    color: $p-purple;
    font-weight: bold;
  }
}

.card {
  .p-card-top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    .right {
      margin-top: 1%;
      text-align: end;
      width: 100%;
    }
  }
  .p-title {
    font-weight: bold;
    font-size: 2em;
  }
  .p-moeda {
    font-weight: bold;
    font-size: 1.3em;
    color: green;
  }
  .p-desc {
    font-size: 1.4em;

  }
  border: 2px solid $p-purple;
}

.p-detalhes {
  display:flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  .p-indicator {
    margin-top: 1%;
    margin-bottom: 1%;
    width: 80%;
  }
  article {
    width: 80%;
  }
}

.p-usuario {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  form {
    border: 2px solid $p-purple;
    border-radius: 7px;
    padding: 3%;
    margin: 3% 0%;
    width: 80%;
  }
}

.p-button-edit {
  margin-top: 4%;
}
