.p-internal-header {
  display: flex;
  width: 85%;
  justify-content: center;

  form {
    width: 100%;
  }

  i {
    margin-top: 1%;
    margin-left: 2%;
    margin-right: 4%;
    font-size: 3em;
  }
}
