.p-under-construct {
  height: 100vh;
  background-color: $github-color;

  header {
    i {
      color: white;
      font-size: 3em;
      margin: 2% 2%;
      transition: 0.2s all;
    }

    i:hover {
      color: $p-purple;
      cursor: pointer;
    }
  }

  main {
    margin-top: -12vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
      font-weight: bold;
      color: white;
    }
  }
}
